# Roboflow API credentials
ROBOFLOW_API_KEY="22sSGAuv4wLv5VbKaRBF"

# DagsHub MLflow tracking credentials (optional)
DAGSHUB_USERNAME=philipringuet
DAGSHUB_TOKEN=your_token


!pip install roboflow

from roboflow import Roboflow
rf = Roboflow(api_key="22sSGAuv4wLv5VbKaRBF")
project = rf.workspace("projectwork-ziouu").project("f2-fjp23")
version = project.version(9)
dataset = version.download("yolov11")
                